@charset "UTF-8";
/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */
/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_box-sizing\.scss}line{font-family:\000032}}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_box-sizing\.scss}line{font-family:\000037}}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Variables
 * -----------------------------------------------------------------------------*/
/* Mixins
 * -----------------------------------------------------------------------------*/
/* Extends
 * -----------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/extends\/_button\.scss}line{font-family:\000031}}
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/extends\/_button\.scss}line{font-family:\0000313}}
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

/* Base
 * -----------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\000031}}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\000035}}
.clearfix {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\000039}}
.selfclear {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000313}}
.pull-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000317}}
.pull-right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000321}}
.text-left {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000325}}
.text-center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000329}}
.text-right {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000333}}
.valign-top {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000337}}
.valign-middle {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000341}}
.valign-bottom {
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000345}}
.relative {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000349}}
.no-margin {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000353}}
.flush-top {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000357}}
.flush-bottom {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_utilities\.scss}line{font-family:\0000361}}
.no-padding {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\000031}}
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000310}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000317}}
h1 {
  font-size: 2.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000321}}
h2 {
  font-size: 1.5em;
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000326}}
h3 {
  font-size: 1.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000330}}
h4 {
  font-size: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000334}}
h5 {
  font-size: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000338}}
h6 {
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000342}}
p {
  margin: 0 0 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000346}}
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000351}}
  a:hover {
    color: #2c5999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000355}}
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000361}}
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  /*margin: $base-line-height 0;*/
  margin-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000370}}
img {
  margin: 0;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000375}}
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000382}}
cite {
  color: #737373;
  font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_typography\.scss}line{font-family:\0000386}}
  cite:before {
    content: '\2014 \00A0'; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\000031}}
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\000038}}
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000316}}
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000320}}
  label.required:after {
    content: "*"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000324}}
  label abbr {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000329}}
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000344}}
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000348}}
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000355}}
textarea {
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000359}}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000363}}
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000368}}
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_forms\.scss}line{font-family:\0000374}}
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_buttons\.scss}line{font-family:\000031}}
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_tables\.scss}line{font-family:\000031}}
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_tables\.scss}line{font-family:\000038}}
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_tables\.scss}line{font-family:\0000315}}
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_tables\.scss}line{font-family:\0000320}}
tr, td, th {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_lists\.scss}line{font-family:\000031}}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_lists\.scss}line{font-family:\0000319}}
dl {
  margin-bottom: 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_lists\.scss}line{font-family:\0000322}}
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_lists\.scss}line{font-family:\0000327}}
  dl dd {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\000031}}
.module {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 25px;
  /*  border: 1px solid #666;
    background-color: #999;*/
  /*color: #999;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
  .module:last-child {
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\000039}}
.module h2 {
  color: #8BCEE8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000313}}
.module i {
  color: #8BCEE8; }

@media screen and (max-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000317}}
  .module {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
    .module:last-child {
      margin-right: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000324}}
.nav {
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000328}}
.nav li {
  display: inline;
  padding: 0 1em 0 0;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000334}}
.nav li:hover {
  color: #999;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000339}}
.callout {
  padding: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_library\.scss}line{font-family:\0000343}}
.callout h1 {
  font-weight: 300; }

/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000325}}
.header-primary {
  /*  background-color: #666;*/
  height: 5em;
  position: fixed;
  width: 100%;
  opacity: 0.3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000333}}
.bg {
  background: #525454;
  /*  width: 100%;
    height: 100px;*/
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000340}}
.show {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000344}}
.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000351}}
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto;*/
  padding: 20px 0px 90px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/bourbon\/dist\/addons\/_clearfix\.scss}line{font-family:\0000315}}
  .container:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000357}}
.grayrow {
  background-color: #ccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000361}}
section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/bourbon\/dist\/addons\/_clearfix\.scss}line{font-family:\0000315}}
  section:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000363}}
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
    section aside:last-child {
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000364}}
  section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
    section article:last-child {
      margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000367}}
section {
  padding: 10em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000371}}
aside {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000377}}
section {
  padding: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/base\/_application\.scss}line{font-family:\0000386}}
.footer-primary {
  background-color: #525454;
  height: 10em; }

/* Components
 * -----------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_hero\.scss}line{font-family:\000031}}
.hero {
  padding: 25px;
  background-image: url(/images/heroimg1.jpg);
  background-size: cover;
  height: 50em;
  width: 100%;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_hero\.scss}line{font-family:\0000310}}
#headline {
  padding: 15em 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picrow\.scss}line{font-family:\000031}}
#picrow {
  padding: 25px;
  background-image: url(/images/pattern.png);
  background-repeat: repeat;
  height: 40em;
  width: 100%;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picrow\.scss}line{font-family:\0000310}}
.ptextdiv {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
  .ptextdiv:last-child {
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picrow\.scss}line{font-family:\0000314}}
.pullquote {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
  .pullquote:last-child {
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picrow\.scss}line{font-family:\0000318}}
.pullquote h1 {
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picgridrow\.scss}line{font-family:\000035}}
.squarebox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
  .squarebox:last-child {
    margin-right: 0; }

@media screen and (max-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/app\/styles\/component\/media\/_picgridrow\.scss}line{font-family:\0000310}}
  .squarebox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zkeller\/csprojects\/neatpractice\/vendor\/neat\/app\/assets\/stylesheets\/grid\/_span-columns\.scss}line{font-family:\0000385}}
    .squarebox:last-child {
      margin-right: 0; } }

/* Pages
 * -----------------------------------------------------------------------------*/
